.App {
  text-align: center;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

/* topmenu css */

#topMenu {
  background:dodgerblue;
  width: 100%;
  display: flex;
  color: white;
  padding: 15px;
  font-weight: 600;
  font-size: 18px;
}
#topMenu ul li {
  float: left;
  padding-left: 30px;
}

.menuLink {
  color: white;
}

.search-form {
  padding-left: 50px;
}

/* login css */

#loginWrapper {
  text-align: center; 
  text-align: left;
  width: 500px;
  margin: 0 auto;
  padding-top: 200px;
}

.login-input {
  width: 300px;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
